@charset 'utf-8';

* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li {list-style: none;}

.wrap1 {width: 1000px; margin: 50px; margin-bottom: 200px;}
.wrap1 ul li {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    position: relative;
    background-image: url(./arrow.svg);
    background-repeat: no-repeat;
    background-position: right bottom;

}

.wrap1 ul li::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0px;
    right: 0;
    background-color: #fff;
    width: 127px;
    height: 22px;
    animation: arrow-ani 3s linear infinite;
}

@keyframes arrow-ani {
    0% {width: 127px;}
    80% {width: 0px;}
    100% {width: 0px;}
}

.wrap2 {width: 1000px; margin: 50px; margin-bottom: 200px;}
.wrap2 ul li {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    position: relative;
}

.wrap2 ul li svg {
    position: absolute;
    right: 0;
    bottom: 0;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: ani 3s linear infinite;
}

@keyframes ani {
    0% {stroke-dashoffset: 400;}
    100% {stroke-dashoffset: 0;}
}

.wrap3 {width: 1000px; margin: 50px; margin-bottom: 200px;}
.wrap3 ul li {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap3 ul li span {
    display: inline-block;
    background-image: url(./underline.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    line-height: 170%;
    animation: underline 3s linear infinite;
}

.wrap3 ul li span:hover {
    animation: none;
    background-size: 100% 100%;
}

.wrap3 ul li:nth-of-type(1) span, .wrap3 ul li:nth-of-type(2) span {
    background-position: left bottom -35px;
    font-size: 40px;
}

.wrap3 ul li:nth-of-type(2) span {
    background-position: left bottom -35px;
    background-size: 100% 100%;
}

.wrap3 ul li:nth-of-type(3) span {
    font-size: 16px;
    background-position: left bottom -10px;
    background-size: 100% 100%;
}

.wrap3 ul li:nth-of-type(4) span {
    font-size: 22px;
    background-position: left bottom -3px;
    /* background-size: 100% 100%; */
}

.wrap3 ul li:nth-of-type(4) span {
    font-size: 35px;
}

@keyframes underline {
    0% {background-size: 0% 100%;}
    80% {background-size: 100% 100%;}
}

.wrap4 {width: 1000px; margin: 50px; margin-bottom: 200px;}
.wrap4 ul li {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap4 ul li span {
    font-size: 40px;
    display: inline-block;
    position: relative;
}

.wrap4 ul li span::before {
    display: block;
    content: '';
    background-image: url('./underline.svg');
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    animation: underline2 3s linear infinite;
}

.wrap4 ul li:nth-of-type(2) span {
    font-size: 20px;
}

.wrap4 ul li:nth-of-type(2) span::before {
    height: 3px;
}

.wrap4 ul li:nth-of-type(3) span {
    font-size: 16px;
}

.wrap4 ul li:nth-of-type(3) span::before {
    height: 2px;
}

@keyframes underline2 {
    0% {width: 0%;}
    70% {width: 100%;}
}


.txt-slide-wrap {
    width: 700px;
    height: 700px;
    background-color: aqua;
    overflow: auto;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.txt-slide-wrap::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.rolling1.original {
	animation: rollingleft1 40s linear infinite;
}
.rolling1.clone {
	animation: rollingleft2 40s linear infinite;
}

@keyframes rollingleft1 {
	0% { transform: translateY(0); }
	50% { transform: translateY(-100%); }
	50.01% { transform: translateY(100%); }
	100% { transform: translateY(0); }
}

@keyframes rollingleft2 {
	0% { transition: translateY(0); }
	100% { transform: translateY(-200%); }
}
